.skills {
    padding-top: 100px;
    &__wrapper {
        padding-top: 36px;
        min-height: 372px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    &__item {
        margin-top: 24px;
        width: 370px;
        min-height: 170px;
        padding: 28px 20px 0 103px;
        border: 1px solid $color-black;
        border-radius: 10px;
        position: relative;
        &-icon {
            position: absolute;
            left: 27px;
            top: 50%;
            transform: translateY(-50%);
            &_node {
                left: auto;
                right: 25px;
                top: 26%;
            }
            &_js {
                left: 17px;
            }
        }
        &-descr {
            line-height: 16px;
            margin-top: 25px;
            min-width: 225px;
            &_node {
                margin-top: 40px;
            }
        }
        &_node {
            padding-left: 26px;
        }
    }
}